<body id="page-top">

  <header class="masthead">
    <app-user-profile></app-user-profile>
    <app-user-login></app-user-login>
    <form #f="ngForm">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Day-chet</h1>
          <hr>
          <p>{{(rubbishes | async)?.length}} {{ 'PARAGRAPH_1' | translate }}</p>
          <p *ngIf="dataUpdated">{{ 'UPDATED_MESSAGE_1' | translate}} {{ auth.currentUserDisplayName }}! <span translate [innerHTML]="'UPDATED_MESSAGE_2' | translate"></span></p>
          <div class="clear10"></div>
          <input id="typeahead-basic" type="text" name="inputRubbish" class="form-control col-lg-8 mx-auto text-center" [(ngModel)]="rubbishName" [ngbTypeahead]="search" placeholder="{{'PLACEHOLDER'|translate}}" />
          <div class="clear10"></div>
          <button type="submit" class="btn btn-primary btn-xl" (click)="addRubbish()" [disabled]="!rubbishName" translate>ADD</button>
        </div>
      </div>
    </form>
  </header>

  <section class="bg-primary" id="motivation">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="section-heading text-center text-white" translate>MOTIVATION.TITLE</h2>
          <hr class="light">
          <p class="text-faded text-center" translate>MOTIVATION.PARAGRAPH</p>
        </div>
      </div>
    </div>
  </section>

  <section id="ranking">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading" translate>RANKING.TITLE</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <ng-container *ngFor="let user of users | async">
          <div class="col-lg-3 col-md-6 text-center" *ngIf="user.rubbish_quantity > 0">
            <div class="service-box mt-5 mx-auto">
              <img [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" class="rankingPic mb-3">
              <h3 class="mb-3">{{user.name}}</h3>
              <p class="text-muted mb-0"><span translate>RANKING.POINTS</span>: {{user.rubbish_quantity}}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>

  <section class="p-0" id="portfolio">
    <div class="container-fluid">
      <div class="row no-gutter popup-gallery">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box">
            <div class="image">
              <img class="img-fluid" src="assets/img/portfolio/thumbnails/9.jpg" alt="dirty streets">
              <h2 class="image-text"><span translate>PORTFOLIO.TITLE_1</span></h2>
            </div>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded" translate>PORTFOLIO.SUBTITLE_1</div>
                <div class="project-name" translate>PORTFOLIO.PARAGRAPH_1</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box">
            <div class="image">
              <img class="img-fluid" src="assets/img/portfolio/thumbnails/8.jpg" alt="beaches indonesia">
              <h2 class="image-text"><span translate>PORTFOLIO.TITLE_2</span></h2>
            </div>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded" translate>PORTFOLIO.SUBTITLE_2</div>
                <div class="project-name" translate>PORTFOLIO.PARAGRAPH_2</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box">
            <div class="image">
              <img class="img-fluid" src="assets/img/portfolio/thumbnails/7.jpg" alt="forests thailand">
              <h2 class="image-text"><span translate>PORTFOLIO.TITLE_3</span></h2>
            </div>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded" translate>PORTFOLIO.SUBTITLE_3</div>
                <div class="project-name" translate>PORTFOLIO.PARAGRAPH_3</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box">
            <div class="image">
              <img class="img-fluid" src="assets/img/portfolio/thumbnails/10.jpg" alt="rivers bulgaria">
              <h2 class="image-text"><span translate>PORTFOLIO.TITLE_4</span></h2>
            </div>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded" translate>PORTFOLIO.SUBTITLE_4</div>
                <div class="project-name" translate>PORTFOLIO.PARAGRAPH_4</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box">
            <div class="image">
              <img class="img-fluid" src="assets/img/portfolio/thumbnails/11.jpg" alt="atliplano bolivia">
              <h2 class="image-text"><span translate>PORTFOLIO.TITLE_5</span></h2>
            </div>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded" translate>PORTFOLIO.SUBTITLE_5</div>
                <div class="project-name" translate>PORTFOLIO.PARAGRAPH_5</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box">
            <div class="image">
              <img class="img-fluid" src="assets/img/portfolio/thumbnails/12.jpg" alt="ocean US">
              <h2 class="image-text"><span translate>PORTFOLIO.TITLE_6</span></h2>
            </div>
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded" translate>PORTFOLIO.SUBTITLE_6</div>
                <div class="project-name" translate>PORTFOLIO.PARAGRAPH_6</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <div class="call-to-action bg-dark">
    <div class="container text-center">
      <h2 translate>CALL_TO_ACTION.TITLE</h2>
      <a class="btn btn-default btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/"><i class="fa fa-facebook fa-2x fb-btn"></i></a>
    </div>
  </div>
</body>